[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"
remappings = [
    '@openzeppelin/contracts=lib/openzeppelin-contracts/contracts',
    '@matterlabs/zksync-contracts/=lib/zksync-contracts/zksync-contracts/',
    'ethers=./node_modules/ethers',
    'dotenv=./node_modules/dotenv'
]
fs_permissions = [
    { access = "read", path = "./broadcast" },
    { access = "read", path = "./reports" },
]
optimizer = true
optimizer_runs = 200
via_ir = true
is-system = true

[profile.zksync]
src = 'src'
libs = ['lib']
fallback_oz = true
mode = "3"

[fuzz]
runs = 1000
max_test_rejects = 65536
seed = '0x1'
dictionary_weight = 40
include_storage = true
include_push_bytes = true
extra_output = ["storageLayout", "metadata"]

[invariant]
runs = 256
depth = 32
fail_on_revert = true

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true

[etherscan]
# zksync sepolia = not verified via Etherscan; keep only Ethereum Sepolia here
sepolia = { key = "${ETHERSCAN_API_KEY}" }

[rpc_endpoints]
sepolia = "${SEPOLIA_RPC_URL}"
zksync_sepolia = "${ZKSYNC_SEPOLIA_RPC_URL}"
